# Environment variables
.env

# Python
__pycache__/
*.pyc
.venv/

# Output files
output/

# macOS junk
.DS_Store
candidate_profile.json
candidate_profile.json.save
candidate_profile_generated.json
input_jobs.csv
job_search_links.csv
output/
candidate_profile.json
candidate_profile.json.save
candidate_profile_generated.json
input_jobs.csv
job_search_links.csv
output/
